name: Build & Push to Docker Hub
 
on:
  push:
    branches: [ "main" ]
  tags:
    - "v*.*.*"
  workflow_dispatch:
 
jobs:
  docker:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
 
      - name: Set image coordinates
        id: img
        run: |
          echo "USER=${{ secrets.DOCKERHUB_USERNAME }}" >> $GITHUB_OUTPUT
          # Si no definiste IMAGE_NAME como secret, usa 'pokeneas' por defecto
          echo "NAME=${{ secrets.IMAGE_NAME || 'pokeneas' }}" >> $GITHUB_OUTPUT
 
      - name: Docker meta (autotags)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.img.outputs.USER }}/${{ steps.img.outputs.NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,format=short
            type=ref,event=tag
 
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
 
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
 
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ steps.img.outputs.USER }}/${{ steps.img.outputs.NAME }}:buildcache
          cache-to: type=registry,ref=${{ steps.img.outputs.USER }}/${{ steps.img.outputs.NAME }}:buildcache,mode=max